/* 
--- 01 TYPEOGRAPHY SYSTEM

- Font size (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:

- Line heights:
Default: 1

--- 02 COLORS

- Primary: #e67e22
- Tints: 
- Shades: 
- Accents: 
- Greys:
#555

--- 03 PICTURES
uifaces.co
unsplash

--- 04 ICONS

--- 05 SHADOWS

--- 06 BORDER-RADIUS

--- 07 WHITESPACE

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* Would create accessiblity issues when people want bigger font */
  /* font-size: 10px; */
  /* instead use a percentage of defined font */
  /* Want our font to be 10px (default is 16) */
  /* 10px / 16px = .0625 = 62.5% */
  /* This keeps 1rem = 10px */
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.test {
  /* max-width: 1000px; */
  max-width: 50rem;
  background-color: red;
  padding: 100px;
  color: #fff;
  font-size: 2rem;
  padding: 4rem;
}
