* {
  margin: 0;
  padding: 0;
}
.product-base {
  border: 4px solid;
  font-family: sans-serif;
  font-size: larger;
  line-height: 1.4;
  width: 825px;
  margin: 0 auto;
}

/* product */

.main-header {
  background-color: #f7f7f7;
  text-align: center;
  font-size: 22px;
  padding: 10px 0;
}

.headers {
  text-transform: uppercase;
}

/* product price */

.price {
  font-size: 24px;
  font-weight: bold;
}

.price-surround {
  margin-bottom: 0;
}

/* product shipping info */

.highlight-item {
  color: #777;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}

/* more info */

.more-info:link,
.more-info:visited {
  color: black;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.more-info-surround {
  padding-bottom: 20px;
}

/* Detail info */

.detailed-title {
  font-size: 16px;
  margin-bottom: 15px;
}

.detailed-list {
  list-style: square;
  margin-left: 25px;
  margin-bottom: 15px;
}

/* Button */

.cart-button {
  color: white;
  background: black;
  border: none;
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
  width: 100%;
  padding: 10px 0;
}

.cart-button:hover {
  color: black;
  background: white;
}

p {
  margin-bottom: 10px;
}
