* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.product-base {
  border: 4px solid;
  font-family: sans-serif;
  font-size: larger;
  line-height: 1.4;
  width: 900px;
  margin: 50px auto;
  position: relative;
}

.sale-box {
  background-color: #f00;
  color: #fff;
  display: inline-block;
  position: absolute;
  text-transform: uppercase;
  padding: 7px 15px;
  font-size: 12px;
  font-weight: bold;
  top: -17px;
  left: -38px;
  letter-spacing: 2px;
}

/* product */

.main-header {
  background-color: #f7f7f7;
  text-align: center;
  font-size: 22px;
  padding: 15px 0;
}

.headers {
  text-transform: uppercase;
}

/* product price */

.price {
  font-size: 24px;
  font-weight: bold;
  float: left;
}

.price-surround {
  margin-bottom: 0;
}

/* product shipping info */

.highlight-item {
  color: #777;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  float: right;
  margin-top: 10px;
}

/* more info */

.more-info:link,
.more-info:visited {
  color: black;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.more-info-surround {
  margin-top: 10px;
  padding-bottom: 20px;
}

/* Detail info */

.detailed-title {
  font-size: 16px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.detailed-list {
  list-style: square;
  padding-left: 25px;
  padding-bottom: 15px;
}

/* Button */

.cart-button {
  color: white;
  background: black;
  border: none;
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
  width: 100%;
  padding: 10px 0;
  clear: both;
}

.cart-button:hover {
  color: black;
  background: white;
  border-top: 4px solid black;
}

.colors-container div {
  /* background-color: black; */
  padding: 12px;
  margin-right: 5px;
  display: inline-block;
}

.color-1 {
  background-color: #000;
}

.color-2 {
  background-color: #076ef5;
}

.color-3 {
  background-color: #f00;
}

.color-4 {
  background-color: #f3cf02;
}

.color-5 {
  background-color: #64b409;
}

.color-6 {
  background-color: #754e05;
  margin-right: 0px;
}

.product-img {
  width: 80%;
}
.product-info {
  float: left;
  width: 250px;
  font-size: small;
  padding-top: 10px;
}
.details-info {
  float: right;
  width: 300px;
  margin-top: 20px;
}
.img-box {
  width: 300px;
  float: left;
}

.price-text {
  clear: both;
  margin-top: 70px;
}
